<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>CADASTRAR CLIENTE</h1>
        </div>
        <div class="card-body">
            <form action="/clientes/cadastrar" method="post">
                <label>NOME DO CLIENTE</label>
                <input type="text" name="nome" placeholder="Insira o nome do cliente" class="form-control" required>

                <label>CPF DO CLIENTE</label>
                <input type="text" name="cpf" placeholder="Insira o CPF do cliente" class="form-control" required>

                <label>ENDEREÇO DO CLIENTE</label>
                <input type="text" name="endereco" placeholder="Insira o Endereço do cliente" class="form-control" required>

                <button type="submit" class="btn btn-success">CADASTRAR</button>
                <button type="reset" class="btn btn-danger">LIMPAR</button>
            </form> 
        </div> 
    </div> 
</div> 

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>CLIENTES</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 60px; text-align: center;">PERFIL</th> 
                        <th>NOME:</th>
                        <th>CPF:</th>
                        <th>ENDEREÇO:</th>
                        <th colspan="2" style="text-align: center;">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientes.forEach(cliente => { %>
                        <tr>
                            <td style="text-align: center; width: 70px;">
                                <img src="/imgs/<%= cliente.nome.toLowerCase() %>.png" width="40" height="40" style="border-radius:50%;" onerror="this.src='/imgs/avatar.png'">
                            </td>
                            
                            <td>
                                <%= cliente.nome %>
                            </td>
                            
                            <td>
                                <%= cliente.cpf %>
                            </td>
                            
                            <td>
                                <%= cliente.endereco %>
                            </td>
                            
                            <td>
                                <a href="/clientes/editar/<%= cliente.id %>" class="btn btn-warning" style="color: black !important;">
                                    EDITAR
                                </a>
                            </td>
                            
                            <td>
                                <a href="/clientes/delete/<%= cliente.id %>" onclick="return confirm('Deseja mesmo excluir o cliente?')" class="btn btn-danger" style="color: white !important;">
                                    EXCLUIR
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div> 
    </div> 
</div> 

<%- include ('partials/footer.ejs') %>